* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.page {
  background-color: #f3ece1;
  min-height: 90vh;
  width: 100%;
  padding: 0 30px;
}


.nav-font-size {
  font-size: clamp(15px, 2vw, 25px);
}

.active {
  font-weight: 600;
}

.remove-group-button {
  color: #f39c12;
  font-size: 25px;
  cursor: pointer;
}

.remove-session-button {
  color: #c0392b;
  font-size: 25px;
  cursor: pointer;
}