.subject-card {
    background-color: #a5dfd3;
    padding: 10px;
    border-radius: 30px;
    min-height: 10vh;
}

.schedule-card {
    background-color: #a5dfd3;
    padding: 20px;
    border-radius: 30px;
    min-height: 10vh;
}